body{
    background-color: #b7df19;
    }
    
    #top{
        width: 100%;
        height: 60px;
        background-color: rgb(221, 22, 22);
        z-index: 9999;
        position: center;
        margin-top:0px;
    }
    
    .toptabel{
        color: rgb(23, 102, 172);
    }
    td {
        width: auto;
    }
    .topname{
        font-size: 30pt;
        color: white;
        text-align: center;
        padding-top: 0.5%;
    }
    table {
        margin: 40px auto auto auto;
        border-collapse: collapse;
        border-color:rgb(175, 175, 175);
        background-color:white;    
    }
    .name {
        color: black;
        font-size: 14pt;
        margin: auto 10px auto 10px;  
    }
    img {
        width: 150px;
    }
    .movies {
        color: black;
        font-size: 14pt;
        margin-left: 10px;  
    }
    button {
        border: 1px solid #777;
        background: #0f38cc;
        color: #fff;
        font: bold 14px 'Trebuchet MS';
        padding: 4px;
        cursor: pointer;
        -webkit-border-radius: 10px;
        width: 150px;
        height: 50px;
    }
    footer{
        text-align: center;
    }